/*
body, div.body {
    background-color: #add8e6;
}

.width-800 {
    width: 800px;
}

.wy-nav-content {
    max-width: 80%;
}

.wy-side-nav-search > a img.logo {
    display: inline-block;
    margin: inherit;
    vertical-align: middle;
}
*/

.wy-side-nav-search {
    /* background-color: #add8e6; */
}


/* table addons */

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive .table-generous {
    height: 3em;
    font-size: larger;
}

.wy-table-responsive .table-generous td {
    padding: 1.5em !important;
    line-height: 1.5em;
}

.wy-table-responsive .table-generous td p {
    font-size: inherit;
    line-height: inherit;
}


/* smaller admonition boxes */
.admonition-smaller {
    font-size: smaller;
}


/* alignment classes */
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

.padding-right-regular {
    padding-right: 6em;
}

/* display classes */
.display-inline {
    display: inline !important;
}


.margin-right-md {
    margin-right: 3em;
}

/* clearfix after aligning left/right  */
.clearfix {
    clear: both;
}

/* boxes */
.basic-hero {
    font-size: larger;
    line-height: 1.75em;
    width: 60%;
    /* margin: auto; */
    margin-top2: 2em !important;
    margin-bottom: 4em !important;
}


.text-larger {
    font-size: larger;
    line-height: 1.75em;
}

.text-xx-large {
    font-size: xx-large;
    line-height: 1.75em;
}

.text-x-large {
    font-size: x-large;
    line-height: 1.50em;
}

.legroom-md {
    margin-bottom: 2em !important;
}
.legroom-sm {
    margin-bottom: 1.3em !important;
}
.width-40 {
    width: 40%;
}
.width-45 {
    width: 45%;
}
.width-50 {
    width: 50%;
}
.width-60 {
    width: 60%;
}


/* limit caption text width */
.caption-narrow .caption {
    width: 320px;
}
.caption-regular .caption {
    width: 400px;
}
.caption-large .caption {
    width: 640px;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

/* More colors for CSS3 Hexagon Buttons */

/* Kotori Hexagon */
.hb-kotori,
.hb-kotori:before ,
.hb-kotori:after {
    background: #2980B9;
    border-color: #2980B9;
    color: #ffffff;
}

.hb-kotori:hover,
.hb-kotori:hover:before ,
.hb-kotori:hover:after {
    background:transparent;
    border-color: #2980B9;
    color: #2980B9;
}
/* inverts */
.hb-kotori-inv,
.hb-kotori-inv:after,
.hb-kotori-inv:before {
    background:transparent;
    border-color: #2980B9;
    color: #2980B9;
}
.hb-kotori-inv:hover,
.hb-kotori-inv:hover:after,
.hb-kotori-inv:hover:before {
    background: #2980B9;
    border-color: #2980B9;
    color: #ffffff;
}


/* Outline buttons */
/* https://fdossena.com/?p=html5cool/buttons/i.frag */

.btn-outline a {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #343a40;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
    color: #343a40;
    text-align: center;
    transition: all 0.2s;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline a:hover {
    background-color: #aaaaaa;
}

/* Don't apply on narrow screen widths */
/*
@media all and (max-width:30em) {
    .btn-outline a {
        display: block;
        margin: 0.4em auto;
    }
}
*/
