/*
body, div.body {
    background-color: #add8e6;
}
*/

.width-800 {
    width: 800px;
}

.wy-nav-content {
    max-width: 90%;
}

.wy-side-nav-search > a img.logo {
    display: inline-block;
    margin: inherit;
    vertical-align: middle;
}

.wy-side-nav-search {
    /* background-color: #add8e6; */
}


/* table addons */

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive .table-generous {
    height: 3em;
    font-size: larger;
}

.wy-table-responsive .table-generous td {
    padding: 1.5em !important;
    line-height: 1.5em;
}

.wy-table-responsive .table-generous td p {
    font-size: inherit;
    line-height: inherit;
}


/* smaller admonition boxes */
.admonition-smaller {
    font-size: smaller;
}


/* alignment classes */
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

.padding-right-regular {
    padding-right: 6em;
}

/* display classes */
.display-inline {
    display: inline !important;
}


.margin-right-md {
    margin-right: 3em;
}

/* clearfix after aligning left/right  */
.clearfix {
    clear: both;
}

/* boxes */
.basic-hero {
    font-size: larger;
    line-height: 1.75em;
    width: 60%;
    /* margin: auto; */
    margin-top: 2em !important;
    margin-bottom: 4em !important;
}

.legroom-md {
    margin-bottom: 2em !important;
}

/* limit caption text width */
.caption-narrow .caption {
    width: 320px;
}
.caption-regular .caption {
    width: 400px;
}
.caption-large .caption {
    width: 640px;
}


/* More colors for CSS3 Hexagon Buttons */

/* Kotori Hexagon */
.hb-kotori,
.hb-kotori:before ,
.hb-kotori:after {
    background: #2980B9;
    border-color: #2980B9;
    color: #ffffff;
}

.hb-kotori:hover,
.hb-kotori:hover:before ,
.hb-kotori:hover:after {
    background:transparent;
    border-color: #2980B9;
    color: #2980B9;
}
/* inverts */
.hb-kotori-inv,
.hb-kotori-inv:after,
.hb-kotori-inv:before {
    background:transparent;
    border-color: #2980B9;
    color: #2980B9;
}
.hb-kotori-inv:hover,
.hb-kotori-inv:hover:after,
.hb-kotori-inv:hover:before {
    background: #2980B9;
    border-color: #2980B9;
    color: #ffffff;
}
