/*
body, div.body {
    background-color: #add8e6;
}
*/

.wy-nav-content {
    max-width: 90%;
}

.wy-side-nav-search > a img.logo {
    display: inline-block;
    margin: inherit;
    vertical-align: middle;
}

.wy-side-nav-search {
    /* background-color: #add8e6; */
}

/* alignment classes */
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

/* clearfix after aligning left/right  */
.clearfix {
    clear: both;
}

/* boxes */
.basic-hero {
    display: block;
    font-size: larger;
    line-height: 1.75em;
    width: 66%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
