<!DOCTYPE html>
<html>
<head>

    <style type="text/css">
        .block {
            background-color: #ccc;
            padding: 1em;
            margin: 1em;
        }
    </style>

    <title>iLaundry Dashboard on $$node_id</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>

    <script language="javascript">
        var wsuri = '$$websocket_uri';
    </script>
</head>
<body>

<br/>

<script type="text/template" id="node-template">
    <div class="col-6 col-sm-6 col-lg-4">

        <h4><%- rc.node_id %></h4>
        <span id="online-<%- rc.node_id %>" class="label label-success">Online</span>
        <span id="offline-<%- rc.node_id %>" class="label label-danger">Offline</span>

        <br/><br/>

        <p>
            Send a text-to-speech message:
        </p>
        <p>
            <form id="say-<%- rc.node_id %>">
                <!--
                <p>Node:
                    <select id="node_id-0" name="node_id">
                    </select>
                </p>
                -->

                <div class="input-group input-group">
                    <span class="input-group-addon">TTS</span>
                    <input id="tts-<%- rc.node_id %>" name="message" class="form-control" type="text" value="Hallo!" size="50" maxlength="50">
                </div>
                </p>
            </form>
        </p>
        <!--
        <p>
            <button class="btn btn-default" onclick="sayText($('#node_id-0').val(), $('#message-0').val())">TTS</button>
        </p>
        -->

        <div id="activity-<%- rc.node_id %>" class="alert alert-success text-center hide">PIR SENSOR ACTIVITY</div>

    </div>

</script>

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <!-- <div class="col-xs-12 col-sm-9"> -->
        <div class="col-xs-18 col-sm-12">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron" style="padding-top: 10px; padding-bottom: 10px">
                <h2>iLaundry Dashboard</h2>
                <p>node-id: $$node_id</p>
            </div>
            <div class="row" id="item-container">
            </div>
            <!--/row-->
        </div>
        <!--/span-->

        <!--
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="list-group">
                <a href="#" class="list-group-item active">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
            </div>
        </div>
        -->

        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>&copy; 2014 Can Elbasi Media</p>
    </footer>

</div>
<!--/.container-->

<script src="static/js/jquery.min.js"></script>
<script src="static/js/purl.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/underscore-min.js"></script>

<script src="static/js/autobahn.min.js"></script>
<script src="static/app/ilaundry.js"></script>

</body>
</html>
