[Unit]
Description=Kotori data acquisition and graphing toolkit
Documentation=http://isarengineering.de/docs/kotori/
After=network.target

[Service]
User=kotori
Group=kotori
LimitNOFILE=65536
Environment='STDOUT=/var/log/kotori/kotori.log'
Environment='STDERR=/var/log/kotori/kotori.log'
EnvironmentFile=-/etc/default/kotori
ExecStart=/bin/sh -c "/usr/local/sbin/kotori --config /etc/kotori/kotori.ini ${KOTORI_OPTS} >>${STDOUT} 2>>${STDERR}"
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=kotori.service
